<!DOCTYPE html>
<html>
<head>
  <title>Galtzaundiko Datu Basea</title>
  <link rel="icon" type="img" href="/img/logo.png" />
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/client.css">
  <link rel="stylesheet" href="/css/react-table.css">
  <link rel="stylesheet" href="/css/react-select.css">
</head>
    <div id="app"> </div>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
