
# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules/
npm-debug.log
*.sqlite
*.pyc
*.xlsx
project/static/js/client.js
project/static/bower_components
*.log
__pycache__/
